* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #efefef;
}

/* navbar start  */

nav {
  background-color: #1687fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 160px;
  margin-left: 45px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li img {
  width: 30px;
  margin: 0 15px;
}

.user-icon {
  margin-left: 30px;
}

.user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.search-box {
  background: #efefef;
  display: flex;
  align-items: center;
  width: 350px;
  border-radius: 20px;
  padding: 10px 15px;
}

.search-box img {
  width: 18px;
  margin-right: 10px;
}

.search-box input {
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  background: #41db51;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
}

/* main part  */

.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
}

.left-sidebar {
  flex-basis: 25%;
  position: sticky;

  top: 70px;
  align-self: flex-start;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: #fff;
  padding: 20px;
  color: #626262;
  border-radius: 5px;
}
.main-content {
  flex-basis: 47%;
}

.imp-links {
  border-bottom: 2px solid #ccc;
}

.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  color: #626262;
  width: fit-content;
}

.imp-links a img {
  width: 25px;
  margin-right: 15px;
}

.imp-links a:last-child {
  color: #1687fe;
}

.shortcut-links a img {
  width: 40px;
  border-radius: 5px;

  margin-right: 15px;
}

.shortcut-links p {
  font-weight: 500;
  color: #626262;
  margin: 15px 0;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.sidebar-title h4 {
  font-weight: 600;
  font-size: 16px;
}

.sidebar-title a {
  text-decoration: none;
  color: #1687f2;
  font-size: 12px;
}

.event {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-event {
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;
  height: 65px;
  width: 65px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 15px;
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 0;
  background: #1687f2;
  width: 100%;
  color: #fff;
  font-size: 10px;
}

.right-event h4 {
  margin-bottom: 5px;
}

.right-event p {
  font-size: 12px;
  margin-bottom: 5px;
}

.right-event p i {
  margin-right: 5px;
}
.right-event a {
  font-size: 12px;
  text-decoration: none;
  color: #1687f2;
}

.ads {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-list img {
  width: 40px;
  border-radius: 50%;
}

.online-list .online {
  margin-right: 15px;
}

.online-list .online::after {
  top: unset;
  bottom: 0;
}

/* main content  */

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  position: relative;
  flex-basis: 18%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-1.png);
  background-size: cover;
  background-position: center;
  padding-top: 32%;
  border-radius: 10px;
}

.story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 3px solid #1687f2;
}

.story p {
  position: absolute;
  width: 100%;
  bottom: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-1.png");
}
.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-2.png");
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(./images/status-3.png);
}
.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(./images/status-4.png);
}
.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(./images/status-5.png);
}

.story1 img {
  width: 40px;
  top: unset;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
  border: 0;
}
